# Server
PORT=8080
FRONTEND_URL=http://localhost:3000

# Database (Pg)
DATABASE_URL=postgres://badges:badges@localhost:5432/badges?sslmode=disable

# OAuth2 github
GITHUB_CLIENT_ID=
GITHUB_REDIRECT_URL=http://localhost:8080/auth/callback
GITHUB_CLIENT_SECRET=

# JWT Session Secret [cmd: 'openssl rand -base64 48']
JWT_SECRET=

# Token Encryption (AES-256-GCM) [cmd: 'openssl rand -hex 32']
ENCRYPTION_KEY=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM=GitHub Badges <your@gmail.com>

# Admin API key
ADMIN_KEY=

# Env
ENVIRONMENT=development
